.large-panel-button {

    background-color: #ffffff10;
    border-radius: 0.75rem;
    flex-direction: column;
    padding: 0;
	flex-grow:1;
}

.large-panel-button:hover {
	background-color:#ffffff20;
	cursor:pointer;
}

.flexcol {
	flex: 1 0 21%;
}



/* Location */
#cMap {
	
	height:20rem;
	width:100%;
	z-index: 10;
}
.leaflet-right{
	display:none;
}
.leaflet-container {
	background-color:#222431;
	font-family: 'Quicksand', sans-serif !important;
}
.leaflet-tile {
    filter:invert(1.2) sepia(1) hue-rotate(190deg)  opacity(0.3);
}