:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

/* Works on Firefox */
* {
  scrollbar-color: #3f3f4d;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.6rem;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #171e25;
  border-radius: 0rem;
}




[data-tooltip]::before {
    /* needed - do not touch */
    content: attr(data-tooltip);
    position: absolute;
    opacity: 0;

    /* customizable */
    transition: all 0.15s ease;
    padding: 10px;
    color: #e5e5e550;
    border-radius: 10px;
	margin-top: 1rem;
    margin-left: 40px;
}

[data-tooltip]:hover::before {
    /* needed - do not touch */
    opacity: 1;

    /* customizable */
    background: #171e25;
    margin-top: -0.5rem;
    margin-left: 40px;
}

[data-tooltip]:not([data-tooltip-persistent])::before {
    pointer-events: none;
}



html, body {
background-color:#222431;
font-family: 'Quicksand', sans-serif;
color:#fbfbfb;
letter-spacing: 0.01rem;
line-height: 1.4rem;
overflow-x: hidden;
margin:0;
}




.pointer {
	cursor:pointer;
}
.flex {
	display:flex;
}
.w-1 {
	width:1%;
}
.w-10 {
	width:10%;
}
.w-20 {
	width:20%;
}
.w-30 {
	width:30%;
}
.w-33 {
	width:33%;
}
.w-40 {
	width:40%;
}
.w-50 {
	width:50%;
}
.w-60 {
	width:60%;
}
.w-66 {
	width:66%;
}
.w-70 {
	width:70%;
}
.w-80 {
	width:80%;
}
.w-90 {
	width:90%;
}
.w-100 {
	width:100%;
}
.h-100 {
	height:100%;
}

.p-2 {
	padding:2rem;
}
.p-1 {
	padding:1rem;
}
.p-05 {
	padding:0.5rem;
}
.m-2 {
	margin:2rem;
}
.w-1r {
	width:1rem;
}
.w-2r {
	width:2rem;
}
.w-12r {
	width:12rem;
}


.menu-top h1 {
	height:0.5rem;
}

.menu-top {
	display: flex;
    flex-direction: column;
	grid-gap: 1rem;
}

.menu-top sub {
    color: #fbfbfb80;
    text-align: center;
    font-size: 0.6rem;
	margin-bottom:0;
	height:1rem;
}
.pointer {
	cursor:pointer;
}



#menu-body {
	height:100%;
}
#menu-body header {
	padding:1rem;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
	height:100%;
}
.menuBoundry {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
	padding-top: 1rem;
    height: calc(100% - 6rem);
}
.slideout-menu {
	width:100%;
	height:100vh;
	background-color:#222431;
	position:fixed;
	top:0;
	left:-100vw;
	z-index:200;
	
}
.slideout-menu header {
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.4rem;
    height: 18px;
    padding-bottom: 0.7rem;
}
.slideout-menu h1 {
    font-size: 0.8rem;
    line-height: 0;
    letter-spacing: 0.8rem;
    text-transform: uppercase;
    font-weight: 400;
	color:#fbfbfb;
	display: flex;
	justify-content: center;
}
.slideout-menu h1:before {content:"\00a0"; font-size: 0;}
.slideout-menu svg {
	cursor:pointer;
}
.slideleft-menu {
	width:100%;
	height:100vh;
	background-color:#222431;
	position:fixed;
	top:0;
	right:-100vw;
	z-index:200;	
}
.slideleft-menu header {
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.4rem;
    height: 18px;
    padding-bottom: 0.7rem;
}
.slideleft-menu h1 {
    font-size: 0.8rem;
    line-height: 0;
    letter-spacing: 0.8rem;
    text-transform: uppercase;
    font-weight: 400;
	color:#fbfbfb;
	display: flex;
	justify-content: center;
}
.slideleft-menu h1:before {content:"\00a0"; font-size: 0;}
.slideleft-menu svg {
	cursor:pointer;
}
.slideout-manual {
	width:100vw;
	height:100vh;
	background-color:#222431;
	position:fixed;
	top:0;
	left:-100vw;
	z-index:200;
}
.slideout-manual header {
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.4rem;
    height: 18px;
    padding-bottom: 0.7rem;
}
.slideout-manual h1 {
    font-size: 0.8rem;
    letter-spacing: 0.8rem;
    text-transform: uppercase;
    font-weight: 400;
	color:#fbfbfb;
	display: flex;
	justify-content: center;
	text-align: center;
}
.slideout-manual h1:before {content:"\00a0"; font-size: 0;}
.slideout-manual svg {
	cursor:pointer;
}


#page-title {
	height:3.2rem;
}
#page-title header {
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.4rem;
    height: 18px;
    padding-bottom: 0.7rem;
}
#page-title h1 {
    font-size: 0.8rem;
    line-height: 0;
    letter-spacing: 0.8rem;
    text-transform: uppercase;
    font-weight: 400;
	display: flex;
}
#page-title h1:before {content:"\00a0"; font-size: 0;}
#page-title svg {
	cursor:pointer;
}
#page-body header {
	display:flex;
	justify-content: center;
	align-items: center;
	padding:1rem;
}
#page-footer header {
	display:flex;
	justify-content: center;
	align-items: center;
	padding:0rem;
	font-size:0.8rem;
	font-weight: 400;
	position:fixed;
	width:100%;
	bottom:0rem;
	background-color:#222431;
}
sub {
	margin-bottom: 2rem;
    color: #fbfbfb80;
    text-align: center;
    font-size: 0.6rem;
}
.load{
    animation-name: ckw;
    animation-duration: 2s;
    /* Things added */
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    display: inline-block;
    /* <--- */
}
@keyframes ckw {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
